@page
@model IndexModel
@{
    ViewData["Title"] = "Transacciones";
}

<div class="text-center">


    <form id="payment-form">
        <div class="">
            <input type="number" id="amount" value="" placeholder="Monto a Pagar" required />
            <div id="card-element"><!--Stripe.js injects the Card Element--></div>
        </div>
        <button class="btn btn-primary" id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pagar</span>
        </button>
        @*<button class="btn btn-primary" id="buyButton">
            <span id="button-text">Pagar por Culqi</span>
        </button>*@
        <div class="alert alert-danger " id="card-error" role="alert" style="display:none">

        </div>
        <div class="alert alert-success result-message" role="alert" style="display:none">
            Pago realizado con éxito
        </div>
    </form>
    <h1 class="">Transacciones</h1>
    <div class="row">
        <div class="col-lg-6">
            <h3 class="">Listado por JS</h3>
            <table id="trasactions-table" class="table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center">Importe</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td colspan="4">No hay datos disponibles</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h3 class="">Listado por .NET</h3>
            <table id="trasactions-table-2" class="table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center">Importe</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td colspan="4">No hay datos disponibles</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    @*<script src="https://checkout.culqi.com/js/v3"></script>

        <script>
            // Configura tu llave pública
            Culqi.publicKey = 'pk_test_8930687e42dca67d';
            // Configura tu Culqi Checkout
            Culqi.settings({
                title: 'SafetyPayTest Store',
                currency: 'PEN',
                description: 'Polo Culqi lover',
                amount: 3500
            });
            // Usa la funcion Culqi.open() en el evento que desees
            $('#buyButton').on('click', function (e) {
                // Abre el formulario con las opciones de Culqi.settings
                Culqi.open();
                e.preventDefault();
            });


            function culqi() {
                if (Culqi.token) {
                    alert("funciono")
                }
                else {
                    alert("no funciono")
                }
            }
        </script>*@
}